.active {
  color: #FDF6E1;
  -webkit-text-fill-color: #FDF6E1;
}
.link {
  text-decoration: none;
  color: #1e2a00;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
}

.link:hover,
.link:active {
  color: #3a4a02;
  -webkit-text-fill-color: #3a4a02;
}
